.description-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #525252;
  display: block;
  margin-top: 5px;
  padding-bottom: 20px;
}

.dialog-button {
  justify-content: space-between;
}

.tab-content {
  height: 200px;
  overflow-y: hidden;
}
